@use './styles/btnDark';
@use './styles/navBar';
@use './styles/books';
@use './styles/addBook';
@use './styles/login';
@use './styles/register';


@use './base/reset';

*{
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font-Poppins);
}