@import '../variables';

.Books {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 60px;
    // justify-content: start;
    justify-content: center;
    row-gap: 40px;
    column-gap: 20px;

    .BookCard {
        display: flex;
        flex-direction: column;
        color: #202020;
        gap: 2px;
        width: 500px;
        min-height: 240px;
        justify-content: space-between;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

        .containerTitleAuthorSummary {
            display: flex;
            flex-direction: column;

            .title {
                font-size: 25px;
                font-weight: 500;
            }
    
            .author {
                color: #707070;
            }
            .summary {
                overflow-y: scroll;
                max-height: 125px;
            }

        }

        .containerYearGenreIcons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .yearGenre {
                display: flex;
                flex-direction: row;
                gap: 5px;
                color: #707070;
                margin-top: 5px;
            }
    
            .containerActions{
                
                flex-direction: row;
                gap: 20px;
                display: flex;

                .btnEdit {
                    text-decoration: none;
                    background-color: rgb(187, 130, 45);

                    span {
                        color: #d1d1d1;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }

                .btnEdit:hover {
                    background-color: rgb(165, 118, 48);
                    transition: all;
                    transition-duration: 0.3s;
                }

                .btnDelete {
                    background-color: rgb(182, 60, 60);
                    
                    span {
                        color: #d1d1d1;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }

                .btnDelete:hover {
                    background-color: rgb(146, 54, 54);
                    transition: all;
                    transition-duration: 0.3s;
                }

                .button {
                    width: fit-content;
                    height: fit-content;
                    padding: 5px 10px;
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    cursor: pointer;
                    color: black;
                    gap: 5px;
                    border: #707070 1px solid;
                    border-radius: 5px;

                    span {
                        text-decoration: none;
                    }

                    .iconsActions {
                        width: 18px;
                        height: 18px;
                        color: white;
                    }
                }
    
            }
        }

    }
}

@media (min-width: 1281px) and (max-width: 1536px) {
    .Books {
        row-gap: 40px;
        column-gap: 10px;
        justify-content: space-around;
        padding: 20px 40px;

        .BookCard {
    
            .containerTitleAuthorSummary {
                display: flex;
                flex-direction: column;
    
                .title {
                    font-size: 24px;
                }
        
                .author {
                    color: #707070;
                    font-size: 16px;
                }
            }
    
            .containerYearGenreIcons {
        
                .containerActions{
    
                    .button {
    
                        .iconsActions {
                            width: 20px;
                            height: 20px;
                        }
                    }
        
                }
            }
    
        }
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .Books {
        row-gap: 40px;
        column-gap: 10px;
        justify-content: center;

        .BookCard {
            width: 430px;
            
            .containerTitleAuthorSummary {
                display: flex;
                flex-direction: column;
    
                .title {
                    font-size: 22px;
                }
        
                .author {
                    color: #707070;
                    font-size: 14px;
                }

                .summary {
                    font-size: 14px;
                }
            }
    
            .containerYearGenreIcons {

                .yearGenre {
                    color: #707070;
                    font-size: 14px;
                }
        
                .containerActions{
    
                    .button {
    
                        .iconsActions {
                            width: 18px;
                            height: 18px;
                        }
                    }
        
                }
            }
    
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .Books {
        row-gap: 40px;
        column-gap: 10px;
        justify-content: center;

        .BookCard {
            width: 400px;
            min-height: 200px;

            .containerTitleAuthorSummary {
                display: flex;
                flex-direction: column;
    
                .title {
                    font-size: 22px;
                }
        
                .author {
                    color: #707070;
                    font-size: 14px;
                }

                .summary {
                    font-size: 14px;
                }
            }
    
            .containerYearGenreIcons {

                .yearGenre {
                    color: #707070;
                    font-size: 14px;
                }
        
                .containerActions{
    
                    .button {
    
                        .iconsActions {
                            width: 18px;
                            height: 18px;
                        }
                    }
        
                }
            }
    
        }
    }
}

@media (min-width: 641px) and (max-width: 768px) {
    .Books {
        row-gap: 10px;
        justify-content: center;

        .BookCard {
            width: 450px;
            min-height: 200px;

            .containerTitleAuthorSummary {
                display: flex;
                flex-direction: column;
    
                .title {
                    font-size: 22px;
                }
        
                .author {
                    color: #707070;
                    font-size: 14px;
                }

                .summary {
                    font-size: 14px;
                }
            }
    
            .containerYearGenreIcons {

                .yearGenre {
                    color: #707070;
                    font-size: 14px;
                }
        
                .containerActions{
    
                    .button {
    
                        .iconsActions {
                            width: 18px;
                            height: 18px;
                        }
                    }
        
                }
            }
    
        }
    }
}

@media (max-width: 640px) {
    .Books {
        gap: 30px;
        justify-content: center;
        padding: 20px 0;

        .BookCard {
            width: 100vw;
            min-height: 200px;
            box-shadow: 0 4px 8px rgb(175, 175, 175);
            border-radius: 0;

            .containerTitleAuthorSummary {
                display: flex;
                flex-direction: column;
    
                .title {
                    font-size: 22px;
                }
        
                .author {
                    color: #707070;
                    font-size: 14px;
                }

                .summary {
                    font-size: 14px;
                }
            }
    
            .containerYearGenreIcons {

                .yearGenre {
                    color: #707070;
                    font-size: 14px;
                }
        
                .containerActions{

                    .btnEdit {
                        text-decoration: none;
                        background-color: rgb(187, 130, 45);
    
                        span {
                            color: #d1d1d1;
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }
    
                    .btnEdit:hover {
                        background-color: rgb(165, 118, 48);
                        transition: all;
                        transition-duration: 0.3s;
                    }
    
                    .btnDelete {
                        background-color: rgb(182, 60, 60);
                        
                        span {
                            color: #d1d1d1;
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }
    
                    .btnDelete:hover {
                        background-color: rgb(146, 54, 54);
                        transition: all;
                        transition-duration: 0.3s;
                    }
    
                    .button {
    
                        .iconsActions {
                            width: 18px;
                            height: 18px;
                        }
                    }
        
                }
            }
    
        }
    }
}

@media (max-width: 445px) {
    .Books {
        gap: 30px;
        justify-content: center;
        padding: 20px 0;

        .BookCard {
            width: 100vw;
            min-height: 200px;
            box-shadow: 0 4px 8px rgb(175, 175, 175);
            border-radius: 0;

            .containerTitleAuthorSummary {
                display: flex;
                flex-direction: column;
    
                .title {
                    font-size: 22px;
                }
        
                .author {
                    color: #707070;
                    font-size: 14px;
                }

                .summary {
                    font-size: 14px;
                    max-height: 150px;
                }
            }
    
            .containerYearGenreIcons {
                display: flex;
                flex-direction: column;
                .yearGenre {
                    color: #707070;
                    font-size: 14px;
                }
        
                .containerActions{
                    margin-top: 12px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    gap: 20px;
                    .btnEdit {
                        text-decoration: none;
                        background-color: rgb(187, 130, 45);
    
                        span {
                            color: #d1d1d1;
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }
    
                    .btnEdit:hover {
                        background-color: rgb(165, 118, 48);
                        transition: all;
                        transition-duration: 0.3s;
                    }
    
                    .btnDelete {
                        background-color: rgb(182, 60, 60);
                        
                        span {
                            color: #d1d1d1;
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }
    
                    .btnDelete:hover {
                        background-color: rgb(146, 54, 54);
                        transition: all;
                        transition-duration: 0.3s;
                    }
    
                    .button {
    
                        .iconsActions {
                            width: 18px;
                            height: 18px;
                        }
                    }
        
                }
            }
    
        }
    }
}