@import '../variables';

.Books {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 60px;
    justify-content: space-around;
    align-items: start;
    row-gap: 40px;
    column-gap: 10px;

    .BookCard {
        display: flex;
        flex-direction: column;
        color: #202020;
        gap: 2px;
        width: 500px;
        min-height: 200px;
        justify-content: space-between;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

        .containerTitleAuthorSummary {
            display: flex;
            flex-direction: column;

            .title {
                font-size: 25px;
                font-weight: 500;
            }
    
            .author {
                color: #707070;
            }
        }

        .containerYearGenreIcons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .yearGenre {
                display: flex;
                flex-direction: row;
                gap: 5px;
                color: #707070;
                margin-top: 5px;
            }
    
            .containerActions{
                
                flex-direction: row;
                gap: 20px;
                display: flex;

                .button {
                    width: fit-content;
                    height: fit-content;
                    padding: 5px;
                    display: flex;
                    justify-content: center;
                    border: none;
                    cursor: pointer;
                    color: black;

                    .iconsActions {
                        width: 20px;
                        height: 20px;
                    }
                }

                .btnFavorite .iconFavorite{
                    fill: white;
                }

                .button:visited {
                    color: #202020;
                }

                .button:hover {
                    background-color: white;
                    

                    .iconFavorite {
                        color: red;
                        fill: red;
                        transition: fill 0.3s ease;
                    }

                    .iconEdit {
                        color: rgb(255, 136, 0);
                        transition: all;
                        transition-duration: 0.3s;
                    }
                    
                    .iconDelete {
                        color: rgb(40, 68, 224);
                        transition: all;
                        transition-duration: 0.3s;
                    }
                }
    
            }
        }

    }
}

@media (min-width: 1281px) and (max-width: 1536px) {
    .Books {
        row-gap: 40px;
        column-gap: 10px;
        justify-content: space-around;
        padding: 20px 40px;

        .BookCard {
    
            .containerTitleAuthorSummary {
                display: flex;
                flex-direction: column;
    
                .title {
                    font-size: 24px;
                }
        
                .author {
                    color: #707070;
                    font-size: 16px;
                }
            }
    
            .containerYearGenreIcons {
        
                .containerActions{
    
                    .button {
    
                        .iconsActions {
                            width: 20px;
                            height: 20px;
                        }
                    }
        
                }
            }
    
        }
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .Books {
        row-gap: 40px;
        column-gap: 10px;
        justify-content: center;

        .BookCard {
            width: 430px;
            
            .containerTitleAuthorSummary {
                display: flex;
                flex-direction: column;
    
                .title {
                    font-size: 22px;
                }
        
                .author {
                    color: #707070;
                    font-size: 14px;
                }

                .summary {
                    font-size: 14px;
                }
            }
    
            .containerYearGenreIcons {

                .yearGenre {
                    color: #707070;
                    font-size: 14px;
                }
        
                .containerActions{
    
                    .button {
    
                        .iconsActions {
                            width: 18px;
                            height: 18px;
                        }
                    }
        
                }
            }
    
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .Books {
        row-gap: 40px;
        column-gap: 10px;
        justify-content: center;

        .BookCard {
            width: 400px;
            min-height: 200px;

            .containerTitleAuthorSummary {
                display: flex;
                flex-direction: column;
    
                .title {
                    font-size: 22px;
                }
        
                .author {
                    color: #707070;
                    font-size: 14px;
                }

                .summary {
                    font-size: 14px;
                }
            }
    
            .containerYearGenreIcons {

                .yearGenre {
                    color: #707070;
                    font-size: 14px;
                }
        
                .containerActions{
    
                    .button {
    
                        .iconsActions {
                            width: 18px;
                            height: 18px;
                        }
                    }
        
                }
            }
    
        }
    }
}

@media (min-width: 641px) and (max-width: 768px) {
    .Books {
        row-gap: 10px;
        justify-content: center;

        .BookCard {
            width: 450px;
            min-height: 200px;

            .containerTitleAuthorSummary {
                display: flex;
                flex-direction: column;
    
                .title {
                    font-size: 22px;
                }
        
                .author {
                    color: #707070;
                    font-size: 14px;
                }

                .summary {
                    font-size: 14px;
                }
            }
    
            .containerYearGenreIcons {

                .yearGenre {
                    color: #707070;
                    font-size: 14px;
                }
        
                .containerActions{
    
                    .button {
    
                        .iconsActions {
                            width: 18px;
                            height: 18px;
                        }
                    }
        
                }
            }
    
        }
    }
}

@media (max-width: 640px) {
    .Books {
        gap: 30px;
        justify-content: center;
        padding: 20px 0;

        .BookCard {
            width: 100vw;
            min-height: 200px;
            box-shadow: 0 4px 8px rgb(175, 175, 175);
            border-radius: 0;

            .containerTitleAuthorSummary {
                display: flex;
                flex-direction: column;
    
                .title {
                    font-size: 22px;
                }
        
                .author {
                    color: #707070;
                    font-size: 14px;
                }

                .summary {
                    font-size: 14px;
                }
            }
    
            .containerYearGenreIcons {

                .yearGenre {
                    color: #707070;
                    font-size: 14px;
                }
        
                .containerActions{
    
                    .button {
    
                        .iconsActions {
                            width: 18px;
                            height: 18px;
                        }
                    }
        
                }
            }
    
        }
    }
}