@import '../variables';


.Nav {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    font-weight: 500;
    padding: 20px 60px;
    gap: 20px;

    .containerTitleButton {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .searchInput {
        display: flex;
        flex-direction: row;
        width: 35vw;
        justify-content: space-between;

        input {
            padding: 10px;
            font-size: 14px;
            border-radius: 5px;
            border: 1px solid #a1a1a1;
        }

        select {
            padding: 0 10px;
        }
    }
}